<h1>投稿一覧</h1>

<% @lists.each do |list|%>

  <P>タイトル</P>
  <span>
    <%= link_to list.title, list_path(list.id)%>
  </span>

  <P>画像</P>
  <% if list.image.attached? %>
    <%= image_tag list.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200"%>
  <% end %>
<% end %>